.siderbar-item-component {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    height: 30px;
    color: var(--white-800);
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.siderbar-item-component-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.siderbar-item-component:not(.checked):hover {
    background-color: var(--primary-color-10);
}

.siderbar-item-component.checked {
    background-color: var(--white-900);
    color: var(--black-900);
}

.siderbar-item-component-input {
    display: none;
}

.siderbar-item-component-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}