
.backgroung-lienar-gradient {
    background-image: linear-gradient(to right, var(--primary-color-dark-05), var(--primary-color-dark-10));
}

/* 
==================================================
Workspace Screen
==================================================
*/

.workspace-header{
    height: 40px;
    background-color: transparent;
}

.workspace-main, .workspace-section{
    display: flex;
    height: calc(100vh - 40px);
    width: 100%;
}

/* 
==================================================
Tabs Sidebar
==================================================
*/

.tabs-sidebar{
    width: 70px;
    height: 100%;
    background-color: var(--primary-color-dark-05);
}

/* 
==================================================
Workspace Layout
==================================================
*/

.workspace-layout{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 4px 4px;
}

.workspace-sidebar{
    flex: 0 0 325px;
    height: 100%;
    background-color: var(--primary-color-05);
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    padding: 10px;
    color: var(--white-900);
}

/* 
==================================================
Workspace Sidebar Header
==================================================
*/
.workspace-sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 15px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--white-300);
}
.workspace-sidebar-header-title {
    flex: 1;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.workspace-sidebar-section{
    margin-bottom: 10px;
    user-select: none;
}
.workspace-sidebar-section input[type="checkbox"]{
    display: none;
}
.workspace-sidebar-section input[type="checkbox"]:checked ~ .workspace-sidebar-list{
    height: 0;
    overflow: hidden;
}
.workspace-sidebar-header-edit {
    cursor: pointer;
    font-size: .8rem;
    border: 1px solid var(--white-900);
    border-radius: 5px;
    padding: 3px 4px;
}

/* 
==================================================
Workspace Sidebar Channels Header
==================================================
*/
.workspace-sidebar-channels-header, .workspace-sidebar-members-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    padding-right: 10px;
    cursor: pointer;
}

.workspace-sidebar-channels-header i, .workspace-sidebar-members-header i{
    font-size: .8rem;
}

.workspace-content{
    flex: 1;
    height: 100%;
    background-color: var(--white-900);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}