/* Provisorio. Sólo para trabajar en la conexión con el backend. Más adelante, mejorar los estilos */

header {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--secondary-color);
    height: var(--header-height);
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-link-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.header-link {
    text-decoration: none;
    color: var(--secondary-color);
}