:root {
    --animation-duration-time: 3s;

    --container-dimension: 250px;
    --gap-dimension: 20px;
    --square-dimension: calc((var(--container-dimension) - var(--gap-dimension)) / 2);
    --square-dimension-short: calc(var(--square-dimension) * 0.45);
}

.loading-component-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-1000);
}

.loading-component-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap-dimension);
    width: var(--container-dimension);
    height: var(--container-dimension);
    /* animation: spin var(--animation-duration-time) linear infinite; */
}
.loading-component-square {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-dimension);
    width: var(--square-dimension);
    height: var(--square-dimension);
    position: relative;
}
.loading-flex-column {
    flex-direction: column;
}
.top-left > div > div {
    background-color: #36C5F0;
}
.top-right > div > div {
    background-color: #2EB67D;
}
.bottom-left > div > div {
    background-color: #E01E5A;
}
.bottom-right > div > div {
    background-color: #ECB22E;
}

/* 
Contenedores de los dibujos
*/
.loading-draw-container {
    display: flex;
    width: 100%;
    height: 100%;
}
.justify-end {
    justify-content: end;
}
.align-end {
    align-items: end;
}

/* 
Dimensiones de los dibujos
*/
.loading-draw {
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: 120px;
}
.loading-width-small {
    width: var(--square-dimension-short);
}
.loading-height-small {
    height: var(--square-dimension-short);
}


/* 
Quito el borde de las esquinas para formar la figura
*/
.loading-component-tl-short {
    border-bottom-right-radius: 0;
}
.loading-component-tr-short {
    border-bottom-left-radius: 0;
}
.loading-component-bl-short {
    border-top-right-radius: 0;
}
.loading-component-br-short {
    border-top-left-radius: 0;
}

.loading-component-tl-short,
.loading-component-tr-short,
.loading-component-bl-short,
.loading-component-br-short {
    animation: opacity-draw var(--animation-duration-time) ease-in-out infinite;
}

/* 
===========
Animations
===========
*/
/* 
TODO IMPORVMENT: Intentar hacer una única animación que varíe según algún parámetro que se pase.
*/
/* @keyframes translate-tl {
    0% {
        left: -100%;
    }
    40% {
        left: 0%;
    }
    60% {
        left: 0%;
    }
    100% {
        left: 50%;
    }
} */

@keyframes opacity-draw {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}